.enterExit.ng-enter {
    webkit-transition: 1s;
    transition: 1s;
    opacity: 0.5;
}

.enterExit.ng-leave {
    webkit-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    color: red;
}

.container {
    width: 40%;
    height: 100%;
    margin: 15%;
    padding-left: 15%;
}

body {
    font-family: 'Helvetica Neue';
    font-size: 1.75em;
}